.product__area {
    margin: 15px 5%;
}

.product__block {
    display: flex;
    flex-direction: column;
}

.product__description {
    text-align: justify;
}

.go-back-button {
    margin: 10px;
}

.product__data {
    padding-top: 30px;
}

.product__data div {
    padding-bottom: 10px;
    font-size: 14px;
}

@media (min-width: 650px) {
    .product__block {
        flex-direction: row;
    }

    .product__carousel {
        width: 45%;

    }

    .product__data {
        width: 55%;
        padding-left: 30px;
        padding-top: 0;
    }
}

.product__sizes {
    display: flex;
}

.product__add-to-cart {
    text-transform: uppercase;
    padding: 10px 20px;
    background-color: black;
    color: white;
    width: 230px;
    margin-top: 30px;
    border: none;
}

.product__add-to-cart:not(.product__size-selected):hover span {
    display: none
}

.product__add-to-cart:not(.product__size-selected):hover:before {
    content: "Please select size"
}

.product__total-sold-out:hover span {
    display: none
}

.product__total-sold-out:not(.product__size-selected):hover:before {
    content: "Sold out"
}

.product__purchase-status {
    font-style: italic;
    height: 14px;
    color: darkred;
}

.product__title {
    text-transform: uppercase;
}
