.product-area {
    margin: 15px 5%;
}

.product-block {
    display: flex;
    flex-direction: column;
}

.product-description {
 text-align: justify;
}

.goBackButton {
    margin: 10px;
}

.product-data {
    padding-top: 30px;
}

.product-data div{
    padding-bottom: 10px;
    font-size: 14px;
}

@media(min-width: 650px){
    .product-block {
    flex-direction: row;
}
    .carousel-block {
    width: 45%;

}
.product-data {
    width: 55%;
    padding-left: 30px;
    padding-top: 0;
}
}

.sizes {
    display: flex;
}

.add-to-cart {
    text-transform: uppercase;
    padding: 10px 20px;
    background-color: black;
    color: white;
    width: 230px;
    margin-top: 30px;

}

.add-to-cart:not(.size-selected):hover span {display:none}
.add-to-cart:not(.size-selected):hover:before {content:"Please select size"}
