.productArea {
    margin: 15px 5%;
}

.productBlock {
    display: flex;
    flex-direction: column;
}

.description {
    text-align: justify;
}

.goBackButton {
    margin: 10px;
    cursor: pointer;
    white-space: nowrap;
}

.productData {
    padding-top: 30px;
}

.productData div {
    padding-bottom: 10px;
    font-size: 14px;
}

@media (min-width: 768px) {
    .productBlock {
        flex-direction: row;
    }

    .productCarousel {
        width: 45%;

    }

    .productData {
        width: 55%;
        padding-left: 30px;
        padding-top: 0;
    }
}

.sizes {
    display: flex;
}

.discount {
    text-decoration: line-through;
}

.addToCart {
    text-transform: uppercase;
    padding: 10px 20px;
    background-color: black;
    color: white;
    width: 230px;
    margin-top: 30px;
    border: none;
}

.addToCart:not(.sizeSelected):hover span {
    display: none
}

.addToCart:not(.sizeSelected):hover:before {
    content: "Please select size"
}

.totalSoldOut:hover span {
    display: none
}

.sizeSelected {
}

.price {
    white-space: nowrap;
}

.totalSoldOut:not(.sizeSelected):hover:before {
    content: "Sold out"
}

.purchaseStatus {
    font-style: italic;
    height: 14px;
    color: darkred;
}

.title {
    text-transform: uppercase;
}
