.headerBagIcon {
    fill: #000;
    height: 25px;
    width: 25px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 15;
}

.headerCartCount {
    width: 25px;
    position: fixed;
    top: 27px;
    right: 20px;
    color: white;
    text-align: center;
    z-index: 16;
    font-size: 12px;
}

.headerMainIcons a {
    display: flex;
    flex-direction: row;
}

@media (min-width: 768px) {
    .headerBagIcon {
        position: fixed;
    }
}
