.mainLogo {
    width: 12rem;
    cursor: pointer;
    margin-bottom: 20px;
}

.mainLogo img {
    width: 100%
}

@media (min-width: 768px) {
    .mainLogo {
        width: 12rem;
        margin-right: 20px;
    }
}
