.category {
    padding: 30px 10%;
    display: grid;
    border-collapse: collapse;
    grid-template-columns: 100%;
    grid-gap: 20px;
}

@media (min-width: 768px) {
    .category {
        grid-template-columns: repeat(2, 50%);
    }
}

@media (min-width: 1024px) {
    .category {
        grid-template-columns: repeat(3, 32%);
    }
}
