.banner {
    display: none;
}

.separate::after {
    content: "\00a0\00a0\00a0\00a0\00a0\00a0|\00a0\00a0\00a0\00a0\00a0\00a0";
}

.underline {
    text-decoration: underline;
}

@media (min-width: 768px) {
    .banner {
        display: block;
        background-color: #dddddd;
        padding: 12px;
        text-align: center;
        font-size: 15px;
    }
}
