.image {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 145%;
    cursor: pointer;
}

.card {
    width: 25%;
    text-align: center;
}

.item {
    width: 100%;
    display: flex;
    padding: 30px;
    text-transform: uppercase;
    font-size: 12px;
    border-bottom: 1px solid gray;
}

.dataStable {
    padding-left: 20px;
    width: 47%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.brand {
    font-weight: bold;
}

.quantity {
    display: flex;
    align-items: center;
    padding: 0;
    border-collapse: collapse;
    height: 28px;
    width: 20%;
}

.increment, .decrement, .quantityInput {
    width: 28px;
    height: 28px;
    float: left;
    transition: all .15s ease-in;
    border: 1px solid #bfbfbf;
    outline: none;
    background: none;
    text-align: center;
    box-shadow: none;
    font-weight: 500;
    border-right-width: 0;
    padding-top: 4px;
}

.increment {
    border-right-width: 1px;
}

.increment, .decrement {
    cursor: pointer;
}

.totalPrice {
    font-size: 14px;
}

.delete {
    color: gray;
}

.delete:hover, .name:hover {
    cursor: pointer;
    text-decoration: underline;
}
