.cart {
    display: flex;
    padding: 0 20px;
}

.cart__items {
    width: 66%;
    padding: 0 20px;
}

.cart-header {
    padding-top: 20px;
    padding-left: 40px;
}

.cart-total {
    margin: 0 20px;
    width: 28%;
}

.cart-total__checkout {
    text-transform: uppercase;
    padding: 10px 20px;
    background-color: black;
    color: white;
    width: 100%;
    margin-top: 30px;
    border: none;
}

.cart__no-items {
    text-align: center;
    padding: 40px;
}
