.cart {
    display: flex;
    padding: 0 20px;
}

.cart__items {
    width: 66%;
    padding: 0 20px;
}

.cart-header {
    padding-top: 20px;
    padding-left: 40px;
}

.cart-total{
    margin: 0 20px;
    width: 28%;
}

.cart-total__box {
    border: 1px solid gray;
    font-size: 14px;
    padding: 10px 20px;
}

.cart-total__title{
    font-weight: bold;
    margin: 20px 0;
}

.cart_total__breakdown div, .cart_total__total{
    display: flex;
    justify-content: space-between;
}

.cart_total__breakdown{
    padding-bottom: 20px;
}
.cart_total__total{
    font-weight: bold;
    border-top: 1px solid gray;
    padding: 20px 0;
}

.cart-total__checkout {
    text-transform: uppercase;
    padding: 10px 20px;
    background-color: black;
    color: white;
    width: 100%;
    margin-top: 30px;
    border: none;
}
