.header__search {
    width: 250px;
    position: relative;
    display: flex;
    overflow: hidden;
}

form[name=header-search] {
    width: 100%;
}

.search-input {
    width: 100%;
    height: 36px;
    padding: 4px 0 4px 30px;
    border: 1px solid #bfbfbf;
    font-size: smaller;
}

.search-input:focus {
    outline: none;
}

.search-button {
    height: 36px;
    width: 36px;
    position: absolute;
    background: none;
    padding: 10px;
    left: 0;
    border: 0;
    bottom: 4px;
    right: 0;
    top: 0;
    margin: auto 0;
    overflow: hidden;
}

.search-button svg {
    vertical-align: baseline;
}
