.header-search__container {
    width: 380px;
    overflow: hidden;
}

form[name=header-search] {
    width: 100%;
}

.header-search__div {
    width: 70%;
    float: right;
    position: relative;
    transition: width .25s ease-out;
}

.search-input {
    width: 100%;
    float: right;
    height: 36px;
    padding: 4px 0 4px 30px;
    border: 1px solid #bfbfbf;
    font-size: smaller;
}

.extended {
    width: 100%;
    transition: width .25s ease-in;
}

.search-input:focus {
    outline: none;
}

.search-icon {
    height: 36px;
    width: 36px;
    position: absolute;
    background: none;
    padding: 10px;
    left: 0;
    border: 0;
    bottom: 4px;
    right: 0;
    top: 0;
    margin: auto 0;
    overflow: hidden;
}

.close-icon {
    position: absolute;
    right: 0;
    height: 100%;
    width: 22px;
    display: flex;
    vertical-align: center;
    align-items: center;
}

.hidden {
    display: none;
}
