.category {
    padding: 30px 10%;
      display: flex;
      flex-flow: row wrap;
}

.designer-info {
    padding: 30px 10%;
}

.designer-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.designer-logo {
    width: 25%;
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
}

.designer-desc {
    text-align: justify;
}
