.info {
    padding: 30px 10%;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    width: 25%;
    height: 100px;
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
}

.desc {
    text-align: justify;
}
