.designer__info {
    padding: 30px 10%;
}

.designer__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.designer__logo {
    width: 25%;
    height: 100px;
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
}

.designer__desc {
    text-align: justify;
}
