.home {
    width: 90%;
    margin: auto;
}

.home__banner {
    display: flex;
    justify-content: center;
}

#banner1 div {
    width: 30%;
    margin: 20px 10px;
}

.home__banner img {
    width: 100%;
    height: auto;
}

#banner2 div {
    width: 46%;
    margin: 20px 10px;
}

.home__banner-label {
    text-align: center;
    font-style: italic;
}

.home__brands-label {
    text-align: center;
    font-weight: 500;
    padding-top: 25px;
    font-style: italic;
}
