.home {
    width: 90%;
    margin: auto;
}

.banner {
    display: flex;
    justify-content: center;
}

.banner1 a {
    width: 30%;
    margin: 20px 10px;
}

.banner img {
    width: 100%;
    height: auto;
}

.banner2 a {
    width: 46%;
    margin: 20px 10px;
}

.bannerLabel {
    text-align: center;
    font-style: italic;
}

.brandsLabel {
    text-align: center;
    font-weight: 500;
    padding-top: 25px;
    font-style: italic;
}
