.flag-icon {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #e6e6e6;
    background-repeat: no-repeat;
    display: inline-block;
}

.currency {
    float: right;
    color: rgb(182, 182, 182);
}

.countries-popup {
    width: 449px;
}