.designer__card {
    border: 2px solid gray;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
    border-collapse: collapse;
    text-transform: uppercase;

    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.designer__card:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    box-shadow: 10px 15px 7px #C7C7C7;
}

.designer__card .image {
    height: 60%;
    width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.designer__card .title {
    height: 20%;
}
