.brand {
    padding: 50px 5%;
    display: grid;
    border-collapse: collapse;
    grid-template-columns: 100%;
    grid-gap: 20px;
}

@media (min-width: 768px) {
    .brand {
        grid-template-columns: repeat(2, 50%);
    }
}

@media (min-width: 1024px) {
    .brand {
        grid-template-columns: repeat(3, 32%);
    }
}
