.brand {
    padding: 50px;
    display: grid;
    border-collapse: collapse;
    grid-template-columns: 100%;
    grid-gap: 20px;
}

.category {
    padding: 30px 10%;
    display: grid;
    border-collapse: collapse;
    grid-template-columns: 100%;
    grid-gap: 20px;
}

@media (min-width: 600px) {
    .brand, .category {
        grid-template-columns: repeat(2, 50%);
    }
}

@media (min-width: 1000px) {
    .brand, .category {
        grid-template-columns: repeat(3, 32%);
    }
}
