.productCard {
    width: 100%;
    height: auto;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    padding: 20px;
    flex-wrap: wrap;
}

.productDiscount {
    text-decoration: line-through;
    white-space: nowrap;
}

.productImage {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 145%;
}
