.cart__image {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 145%;
}

.cart__card {
    width: 25%;
    text-align: center;
}

.cart__item {
    width: 100%;
    display: flex;
    padding: 30px;
    text-transform: uppercase;
    font-size: 12px;
    border-bottom: 1px solid gray;
}

.cart__data-stable {
    padding-left: 20px;
    width: 47%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cart__brand {
    font-weight: bold;
}

.cart__quantity {
    display: flex;
    align-items: center;
    padding: 0;
    border-collapse: collapse;
    height: 28px;
    width: 20%;
}

.cart__increment, .cart__decrement, .cart__quantity-input {
    width: 28px;
    height: 28px;
    float: left;
    transition: all .15s ease-in;
    border: 1px solid #bfbfbf;
    outline: none;
    background: none;
    text-align: center;
    box-shadow: none;
    font-weight: 500;
    border-right-width: 0;
    padding-top: 4px;
}

.cart__increment {
    border-right-width: 1px;
}

.cart__increment, .cart__decrement {
    cursor: pointer;
}

.cart__totalPrice {
    font-size: 14px;
}

.cart__delete {
    color: gray;
}

.cart__delete:hover, .cart__name:hover {
    cursor: pointer;
    text-decoration: underline;
}

