.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 48px;
    z-index: 10;
}

.header__main-icons {
    display: flex;
    flex-direction: row;
}

.header__main-icons div {
    margin-right: 1.2rem;
}
