.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 48px;
    z-index: 10;
}

.headerText {
    margin: auto 0;
    font-style: italic;
    font-size: 14px;
}

