.toggle {
    border-radius: 4px;
    padding: 4px 4px 0 4px;
    background-color: transparent;
    border: transparent;
    outline: none;
}

.button {
    outline: none;
}

.icon {
    font-size: 30px;
}

.iconHidden {
    display: none;
}

.toggle {
    margin-left: 0;
}

@media (min-width: 768px) {
    .toggle {
        display: none;
    }
}



