.cart-total__box {
    border: 1px solid gray;
    font-size: 14px;
    padding: 10px 20px;
}

.cart-total__title {
    font-weight: bold;
    margin: 20px 0;
}

.cart_total__breakdown div, .cart_total__total {
    display: flex;
    justify-content: space-between;
}

.cart_total__breakdown {
    padding-bottom: 20px;
}

.cart_total__total {
    font-weight: bold;
    border-top: 1px solid gray;
    padding: 20px 0;
}
