.categoryPopup {
    position: absolute;
    z-index: 10;
    transition: .3s, width 2s;
    background-color: white;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .2);
    padding: 10px;
}

.categoryPopup ul {
    padding: 5px 20px;
}

.categoryPopup li {
    list-style: none;
    height: 25px;
    color: #222222;
    text-decoration: none;
}

.categoryPopup li:hover {
    opacity: 0.5;
    text-decoration: underline;
}
