.orderItems {
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.orderItemsTable {
    display: none;
}

.items {
    display: none;
}

@media (min-width: 768px) {

    .orderItems {
        padding: 0;
    }

    .items {
        display: block;
    }

    .orderItemsTable {
        display: block;
        margin-top: 30px;
        width: fit-content;
    }

    .orderItemsTable, th, td {
        border: 1px solid gray;
    }

    .orderItemsTable td,
    .orderItemsTable th {
        text-align: center;
        padding: 10px;
    }

    .orderItems {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
